@inherits LayoutComponentBase
@inject Applicationprovider applicationprovider
@inject IConfiguration configuration
@inject Data.Applicationdbcontext applicationdbcontext

@using Microsoft.EntityFrameworkCore
@using System.Linq
@using System.Collections.Generic

<div class="page">
    <main>
        @Body
    </main>

</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code{


    private bool installed { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {

        this.installed = !string.IsNullOrEmpty(this.configuration.GetConnectionString("DefaultConnection"));
        if (this.installed == true)
        {
            var site = await this.applicationdbcontext.Applicationsites.FirstOrDefaultAsync();
            this.applicationprovider._contextsite = site;
        }

        await base.OnInitializedAsync();
    }
}