@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <Mihcelle.Hwavmvid.Components.Layout.NavMenu></Mihcelle.Hwavmvid.Components.Layout.NavMenu>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<link href="/_content/Mihcelle.Hwavmvid.Alerts/alerts.min.css" rel="stylesheet" />
<Mihcelle.Hwavmvid.Alerts.AlertsComponent />
<Mihcelle.Hwavmvid.Notifications.NotificationsComponent />

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
