@inherits LayoutComponentBase

<div class="page">
    <main>
        @Body
    </main>

</div>

<link href="/_content/Mihcelle.Hwavmvid.Alerts/alerts.min.css" rel="stylesheet" />
<Mihcelle.Hwavmvid.Alerts.AlertsComponent />
<Mihcelle.Hwavmvid.Notifications.NotificationsComponent />

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
