@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. Installation link here.

<div>
    <NavLink class="dropdown-item" href="Installation">
        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Install and ensure database created.
    </NavLink>
</div>