@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web


<Mihcelle.Hwavmvid.Client.MainLayout></Mihcelle.Hwavmvid.Client.MainLayout>





@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
